* {
    box-sizing: border-box;
}

.rod {
    display: flex;
    width: 1140px;
    margin: auto;
}

.left-text-block {
    width: 450px;
     text-align: center;
     font-size: 21px;
     color: #fff; 
}